# comment
Dockerfile
arctiq-gke
arctiq-gke/*
.gitignore
nginx-values.yaml
Dockerfile
README.md
deployment.yaml
*.pyc
*.pyo
*.pyd
__pycache__
python-deployment
python-deployment/*
get_helm.sh